<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
           
	<bean id="orderRepository" class="com.spring.constructor.OrderRepository"/>
	<bean id="discountPolicy" class="com.spring.constructor.FixedDiscountPolicy">
		<constructor-arg name="discountAmount" value="1000"/>
	</bean>
	<bean id="kioskOrderService" class="com.spring.constructor.KioskOrderService">
		<constructor-arg name="orderRepository" ref="orderRepository"/>
		<constructor-arg name="discountPolicy" ref="discountPolicy"/>
	</bean>
</beans>